$font-family-main: poppins, "Times New Roman", serif;

// Переменные
$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 480px;

// Colors
$color-dark-bg: hsl(240, 10%, 10%);
$color-sidebar-bg: hsl(240, 15%, 20%);
$color-modal-bg: hsl(234, 38%, 21%);
$color-accent-purple: hsl(270, 100%, 50%);
$color-text-white: hsl(0, 0%, 100%);
$color-text-gray: hsl(0, 0%, 70%);
$color-status-green: hsl(120, 100%, 40%);
$color-status-red: hsl(0, 100%, 50%);
$color-status-yellow: hsl(60, 100%, 50%);
$color-gray-1: hsl(0, 0%, 20%);
$color-gray-2: hsl(0, 0%, 30%);
$color-gray-3: hsl(0, 0%, 40%);
$color-gray-4: hsl(0, 0%, 50%);
$color-gray-5: hsl(0deg 0% 0% / 0.75);


$navbar-width: 250px;
$navbar-width-tablet: 200px;

// Миксины для адаптивного дизайна
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}