.App {
  height: 100vh;
  display: grid;
  grid-template-columns: $navbar-width 1fr;
  grid-template-rows: 60px 1fr;

  font-family: $font-family-main;
  background-color: $color-dark-bg;
  color: $color-text-white;

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  @include tablet {
    grid-template-columns: $navbar-width-tablet 1fr;
  }
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mobile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.navbar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: $color-sidebar-bg;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  @include tablet {
    width: $navbar-width-tablet;
  }
}

.collapsed {
  @include mobile {
    width: 0;
  }
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: inherit;

  @include mobile {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  @include tablet {
    grid-column: 2 / 3;
  }
}
