.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $background-color;

  @include mobile {
    flex-direction: column;
  }
}

.contentPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;

  @include mobile {
    padding: 1rem;
  }
}

@include desktop {
  .contentPage {
    max-width: calc(100% - #{$navbar-width});
  }
}

@include laptop {
  .contentPage {
    max-width: calc(100% - #{$navbar-width});
  }
}

@include tablet {
  .contentPage {
    max-width: calc(100% - #{$navbar-width-tablet});
  }
}

@include mobile {  
  .contentPage {
    max-width: 100%;
  }
}