.logo {
  font-size: 22px;

  span {
    color: $color-status-green;
  }
}

.subtitle {
  color: $color-text-gray; 
}

.items {
  flex: 1 1 auto;
  width: 100%;
}

.footer {
  background-color: $color-accent-purple;
}